<div id="education">
        <h2 class="heading">Education</h2>
        <div class="education-block">
            <h3>KTH Royal Institute of Technology</h3>
            <span class="education-date">Sept 2019 - Aug 2020</span>
            <h4>Master of Science in Communication Systems</h4>
            <ul>
              <li>Member of Erasmus Mundus Joint Master degree
              </li>
              <li><strong>Courses inlcude</strong>:
                  Wireless Network Managment, Ethical Hacking.
            </li>
        </ul>
        </div>
        <!-- End .education-block -->

        <div class="education-block">
            <h3>Aalto University</h3>
            <span class="education-date">Sept 2018 - June 2019</span>
            <h4>Master of Science in Security and Cloud Computing</h4>
            <ul>
              <li>Member of Erasmus Mundus Joint Master degree
              </li>
              <li><strong>Courses inlcude</strong>:
                  Advanced Cryptography, Mobile Systems Security, Network Security,
                  Mobile Cloud Computing, Laboratory works in Security and Networking,
                  Big Data Platforms, Applications and Services in Internet.
            </li>
        </ul>
        </div>
        <!-- End .education-block -->

        <div class="education-block">
            <h3>Eotvos Lorand University</h3>
            <span class="education-date">Sept 2015 - Jul 2018</span>
            <h4>Bachelor of Science in Computer Science</h4>
            <ul>
                <li>
                    Bachelor thesis: "3D meshes generation from noisy point clouds".
                </li>
                <li>
                    Grade average: 4.71 and Final examination result: Good.
                </li>
                <li>
                    Student societies: Erasmus Student Network of ELTE.
                </li>
            </ul>
        </div>
        <!-- End .education-block -->
    </div>
    <!-- End #education -->
