<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Education</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Study programmes I have attended.</p>
<div class="d-flex flex-wrap gutter-condensed mb-4">
  <ol class="timeline">
    {% for i in (0..3) %}
      {% if i | modulo: 2 == 1 %}
        <li class="timeline__entry">
          <span class="timeline__id">{{ site.educations[i].date }}</span>
          <div class="timeline__content">
              <h2 class="timeline__heading">{{ site.educations[i].title }}</h2>
              <p class="timeline__text">{{ site.educations[i].description }}</p>
          </div>
        </li>
      {% else %}
      <li class="timeline__entry">
        <span class="timeline__id">{{ site.educations[i].date }}</span>
        <div class="timeline__content timeline__content--flipped">
            <h2 class="timeline__heading">{{ site.educations[i].title }}</h2>
            <p class="timeline__text">{{ site.educations[i].description }}</p>
        </div>
      </li>
      {% endif %}
    {% endfor %}
</div>
