<div id="experience" class="background-alt">
        <h2 class="heading">Exp<span>erience</span></h2>
        <div id="experience-timeline">
          <ul class="timeline">
    <li>
        <div class="timeline-badge">
          <a><i class="fa fa-map-marker animated infinite bounce" id=""></i></a>
        </div>

        <div class="timeline-panel" data-aos="fade-right">
          <div class="timeline-date">
            May 2021 - ongoing
          </div>
            <div class="timeline-heading">
                <h3>Tink</h3>
                <h3>Access Engineer</h3>
            </div>
            <div class="timeline-body">
                  <p> Working in a Access team (one of core teams in Engineering Foundations);</p>
                  <p> Access, authentication, authorisation of external clients;</p>
                  <p> Rate limiting;</p>
                  <p> Protocol translation (gRPC, REST);</p>
                  <p> GDPR compliance.</p>
                  <p> <strong>Technologies</strong></p>
                <p>
                    <span class="badge">Golang, gRPC</span>
                    <span class="badge">Envoy</span>
                    <span class="badge">JWT</span>
                    <span class="badge">Docker, Kubernetes</span>
                </p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline-badge">
          <a><i class="fa fa-map-marker animated infinite bounce" id=""></i></a>
        </div>
        <div class="timeline-panel" data-aos="fade-left">
          <div class="timeline-date">
            Jun 2020 - May 2021
          </div>
            <div class="timeline-heading">
                <h3>Tink</h3>
                <h3>Backend Software Engineer</h3>
            </div>
            <div class="timeline-body">
                  <p> Working in a Personal Finance Management team;</p>
                  <p> Development of microservices using Java, Go;</p>
                  <p> Deployment of microservices using GCP;</p>
                  <p> Operation and troubleshooting using Grafana, Kibana.</p>
                  <p> <strong>Technologies</strong></p>
                <p>
                    <span class="badge">Java, Golang, gRPC</span>
                    <span class="badge">Kafka, Cassandra, MySQL</span>
                    <span class="badge">Google Cloud</span>
                    <span class="badge">Docker, Kubernetes</span>
                </p>
            </div>
        </div>
      </li>

      <li>
          <div class="timeline-badge">
            <a><i class="fa fa-map-marker animated infinite bounce" id=""></i></a>
          </div>
        <div class="timeline-panel" data-aos="fade-right">
          <div class="timeline-date">
            Jun 2019 - Aug 2019
          </div>
            <div class="timeline-heading">
                <h3>Blackrock</h3>
                <h3>Summer Technology Analyst (Software Engineering)</h3>
            </div>
            <div class="timeline-body">
                  <p> Working in a Core System Operations team;</p>
                  <p> Getting familiar with the culture of the company;</p>
                  <p> Participation in development of summer project, hackathon and learning sessions.</p>
                  <p> <strong>Technologies</strong></p>
                <p>
                    <span class="badge">Web development using SpringBoot / Java</span>
                </p>
            </div>
        </div>
      </li>

      <li>
          <div class="timeline-badge">
            <a><i class="fa fa-map-marker animated infinite bounce" id=""></i></a>
          </div>
        <div class="timeline-panel" data-aos="fade-left">
          <div class="timeline-date">
            Jun 2017 - Jun 2018
          </div>
            <div class="timeline-heading">
                <h3>Ericsson R&D centre</h3>
                <h3>Student Software Developer</h3>
            </div>
            <div class="timeline-body">
                  <p> Working as test automation engineer;</p>
                  <p> Handling process automation, CI (Jenkins);</p>
                  <p> Participation in development of embedded software.</p>
                  <p> <strong>Technologies</strong></p>
                <p>
                    <span class="badge">Test automation using Java</span>
                    <span class="badge">Manual testing</span>
                    <span class="badge">Development of embedded software using C</span>
                </p>
            </div>
        </div>
        </li>
    </ul>
  </div>
</div>
