<footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 copyright">
                    <p>
                        Copyright &copy; 2019 Akzharkyn Duisembiyeva
                    </p>
                </div>
                <!--<div class="col-sm-2 top">
                    <span id="to-top">
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </span>
                </div>-->
                <div class="col-sm-5 social">
                    <ul>
                        <li>
                            <a href="https://github.com/AkzharkynDM" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://stackoverflow.com/users/10411618/akzharkyn-duisembiyeva" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://linkedin.com/in/akzharkyn-duisembiyeva" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/akzharkyn.maratovna" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.quora.com/profile/Akzharkyn-Duisembiyeva" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>

  </body>
</html>
